@font-face {
    font-family: 'Rubik';
    src: url(./fonts/Rubik/Rubik-VariableFont_wght.ttf) format('truetype');
}

body,
html{
    margin: 0;
}

body{
    background: #faf6e9;
    font-family: Rubik, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5em;
    height: 100vh;
}

.container > div {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.canvas{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    height: 33rem;
    width: 33rem;
    background-color: #fffdf6;
    border: 3px solid #494949;
    border-radius: .5rem;
}

h1{
    text-align: center;
}